---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="bg-slate-900 h-screen flex justify-center items-center flex-col">
    <h1 class="text-gray-200 text-7xl mb-8">SAMSARA</h1>
  </main>
</Layout>
